.collection{
    .collection_view_item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
    
            .collection_item {
                padding: 1em;
    
                img {
                    width: 200px;
                    height: 200px;
                    cursor: pointer;
                    transition: transform 0.3s ease-in-out;

                    &:hover{
                        transform: scale(1.1);
                    }
                }
    
                h4 {
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 1em;
                    font-weight: bold;
                }
    
    
            }
    }

    .collection_description{
        position: relative;
        img{
            width: 80%;
            height: 100%;
            margin: auto;
        }

        .collection_description_text{
            position: absolute;
            bottom: 10%;
            left: 15%;
            width: 480px;
            color: $color_secondary;

            h2{
                font-size: 35px;
                font-weight: bold;
                margin-bottom: 1em;
            }

            p{
                font-size: 17px;
                margin-bottom: 2em;
            }

            a{
                text-decoration: none;
                color: $color_secondary;

                &:hover {
                    color: $color_primary;
                }
            }
            
        }
    }
}