.form-control {
    width: 1024px;
    margin: auto;
    z-index: 9999   ;
}

.searchItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .product_collection_item {
        width: 220px;
        height: 370px;
        color: $color_primary;
        margin: 1em;
        padding: 10px ;
        // border: 1px solid $color_tertiary;
        box-shadow: 0px 13px 70px 5px #ccc;

        .product_collection_item_img {

            img {
                width: 200px;
                height: 250px;
                margin-top: 1.5em;
                object-fit: cover;
            }
        }

        .product_collection_item_h3 {
            font-size: 15px;
            font-weight: bold;
            margin-top: 1em;
        }

        .product_collection_item_price {
            font-size: 14px;
            margin-top: 1em;
            text-align: justify;

        }
    }

}