.product_detail{
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
    width: 1300px;
    height: 600px;

    .product_detail_gallery{

        .avatar_large{
            width: 400px;
            height: 400px ;

            .lightbox {
                    width: 350px;
                    height: 500px;
                    margin: auto;
            
                    img {
                        width: 300px;
                        height: 380px;
                        margin-top: 10px;
                        margin-left: 25px;

                    }
                }
        }
    }

    .product_detail_content{
        margin-left: 5em;
    }
}